<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add City</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <h1>Добавить город</h1>
    <br>

    <div class="container"> 
        <form method="post" action="/add" class="form">
            <div class="mb-3">
                <label class="form-label">Название: 
                    <input type="text" placeholder="Название" name="name" required>
                </label>
                <label class="form-label">Кол-во жителей:
                    <input type="number" placeholder="Кол-во жителей" name="citizens" required>
                </label>
                <label class="form-label">История:
                    <input type="text" placeholder="Краткая история" name="story">
                </label>
                <label class="form-label">Координаты:
                    <input type="text" placeholder="Координаты" name="coordinates" required>
                </label>
            </div>
            <input type="submit" class="btn btn-success" style="margin-bottom: 10px;">
        </form>
    </div>

</div>
<div th:replace="fragments/footer :: footer"/>

</body>
</html>