<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit City</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <h1>Изменить город</h1>
    <br>

    <div class="container">
        <form method="post" th:action="@{'/edit/' + ${city.getId()}}" class="form">
            <div class="mb-3">
                <label class="form-label">Название:
                    <input type="text" placeholder="Название" name="name" th:value="${city.getName()}" required>
                </label>
                <label class="form-label">Кол-во жителей:
                    <input type="number" placeholder="Кол-во жителей" name="citizens" th:value="${city.getCitizens()}" required>
                </label>
                <label class="form-label">История:
                    <input type="text" placeholder="Краткая история" name="story" th:value="${city.getStory()}">
                </label>
                <label class="form-label">Координаты:
                    <input type="text" placeholder="Координаты" name="coordinates" th:value="${city.getCoordinates()}" required>
                </label>
            </div>
            <input type="submit" class="btn btn-success" style="margin-bottom: 10px;">
        </form>
    </div>

</div>
<div th:replace="fragments/footer :: footer"/>

</body>
</html>